<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    
<% if (status == "SuperAdmin") { %>
        <li><a href="\admin"><i class="fa fa-link"></i> <span>Admin</span></a></li>
      <%}%>
      </ul>
    </section>
  </aside>

    <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
  <section class="content container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"><div class="box-title"><%= subtitle %></div></h3>
            </div>
            <div class="box-body data-table">
            <table class="table table-bordered">
                  <tr>
                  <th>
                    <p class="text-center">Judul</p>
                  </th>                        
                  <th>
                    <p class="text-center">Kategori</p>
                  </th>                        
                  <th>
                    <p class="text-center">Lokasi</p>
                  </th>                        
                  <% if(status == "SuperAdmin" || status == "Admin1"){ %>
                  <th>
                    <p class="text-center">Action</p>
                  </th>                        
                  <th>
                    <p class="text-center">Action</p>
                  </th>                        
                  <%}%>
                  </tr>
    <!--
        Using FOREACH LOOP for the users array
        
        myArray.forEach(function(el, index) {
            // el - current element, i - index
        });
    -->
    <% if (data) { %>
    <% for(var i=0; i<data.length; i++) { %>
    <% if(data[i].status === title){ %>
                  <tr>
                  <td>
                    <a href="/laporan/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;"><%= data[i].judul %></p></a>
                  </td>                        
                  <td>
                    <p class="text-center"><%= data[i].kategori %></p>
                  </td>                        
                  <td>
                    <p class="text-center"><%= data[i].lokasi %></p>
                  </td>                        
        <% if(status == "SuperAdmin" || status == "Admin1"){ %>
        <% if(data[i].status == "Diterima"){ %>
                  <td>
                    <a href="/kerjakan/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Kerjakan</p></a>
                  </td>
                  <td>
                    <a href="/ketolak/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Tolak</p></a>
                  </td>
        <% }else if(data[i].status == "Dikerjakan"){ %>
                  <td>
                    <a href="/keselesai/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Selesai</p></a>
                  </td>
                  <td>
                    <a href="/keterima/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Terima</p></a>
                  </td>
        <% }else if(data[i].status == "Ditolak"){ %>
                  <td>
                    <a href="/keterima/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Terima</p></a>
                  </td>
                  <td>
                    <a href="/kehapus/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Hapus</p></a>
                  </td>
        <% }else if(data[i].status == "Ditunda"){ %>
                  <td>
                    <a href="/keterima/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Terima</p></a>
                  </td>
                  <td>
                    <a href="/ketolak/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Tolak</p></a>
                  </td>
        <% }else if(data[i].status == "Selesai"){ %>
                  <td>
                    <a href="/kerjakan/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Kerjakan</p></a>
                  </td>
                  <td>
                    <a href="/kehapus/<%= data[i].author_id %>" class="text-center"><p style="color: #EF3E5A;">Hapus</p></a>
                  </td>
                  </tr>
              <% }} %>
             <% }}} %>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>