<%- include ../layouts/header.ejs %>
 
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
 
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>    
<% if (status == "SuperAdmin") { %>
        <li><a href="\admin"><i class="fa fa-link"></i> <span>Admin</span></a></li>
      <%}%>
      </ul>
    </section>
   </aside>
   <div class="content-wrapper">
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
 <section class="content container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
    <% if (data) { %>
    <% for(var i=0; i<data.length; i++) { %>
    <% if (data[i].author_id == id) { %>
            <div class="box-header">
              <h3><div class="box-title"><%= data[i].judul %></div></h3>
            </div>
            <div class="box-body">
                          <p><%= data[i].kategori %></p>
                          <p><%= data[i].ruang %></p>
                          <p><%= data[i].status %></p>
                      </div>
                           <% if(status == "SuperAdmin" || status == "Admin1"){ %>
                       <div class="box-footer">
                        <%if( data[i].status  == "Ditunda"){%>
                            <a href="/ketolak/<%= data[i].author_id %>" class="btn btn-default btn-flat">Tolak</a>
                            <a href="/keterima/<%= data[i].author_id %>" class="btn btn-default btn-flat">Terima</a>
                      <% }else if( data[i].status  == "Selesai"){%>
                            <a href="/kerjakan/<%= data[i].author_id %>" class="btn btn-default btn-flat">Kerjakan</a>
                            <a href="/kehapus/<%= data[i].author_id %>" class="btn btn-default btn-flat">Hapus</a>
                      <% }else if( data[i].status  == "Diterima"){%>
                            <a href="/ketolak/<%= data[i].author_id %>" class="btn btn-default btn-flat">Tolak</a>
                            <a href="/kerjakan/<%= data[i].author_id %>" class="btn btn-default btn-flat">Kerjakan</a>
                      <% }else if( data[i].status  == "Ditolak"){%>
                            <a href="/kehapus/<%= data[i].author_id %>" class="btn btn-default btn-flat">Hapus</a>
                            <a href="/keterima/<%= data[i].author_id %>" class="btn btn-default btn-flat">Terima</a>
                      <% }else if( data[i].status  == "Dikerjakan"){%>
                            <a href="/keterima/<%= data[i].author_id %>" class="btn btn-default btn-flat">Terima</a>
                            <a href="/keselesai/<%= data[i].author_id %>" class="btn btn-default btn-flat">Selesai</a>
                      <% }%>
                    </div>
              <% }}} %>
            </div>
            <%}%>
        </div>
      </div>
    </section>
  </div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>